@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Soelco

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #606060;
$blue_color: #1d3d70;
$green_1_color: #a4cd38;
$green_2_color: #d1cb38;
$orange_1_color: #ff5800;
$orange_2_color: #f36d21;
$red_color: #c1272d;
$background: #efefef;
$border: #606060;
$title: #c6c6c6;
$construccion: #cc2c2c;
$electricos: #a5cd39;
$herramientas: #d1cb39;
$hogar: #f36e23;

$max_width: 1200px;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $blue_color;
	&:hover {
		color: $blue_color;
	}
}

.row {
	max-width: $max_width;
}

/* ---------- Template ---------- */

/* Top */

.top_1 {
	padding: 15px 0;
	background-color: $background;
	.moduletable_to11 {
		#a {
			a {
				color: $primary_color;
			}
		}
		#b {
			a {
				margin: 0 5px;
				display: inline-block;
			}
		}
	}
}

.top_2 {
	padding: 15px 0;
	.moduletable_to1 {}
	.moduletable_to2 {
		#a {
			background-color: $orange_1_color;
			ul {
				li {
					width: 100%;
					a {
						color: #fff;
						text-align: center;
					}
				}
			}
		}
		#b,
		#c {
			font-size: 16px;
		}
	}
}

.top_3 {
	padding: 10px 0;
	background-color: $blue_color;
	.moduletable_to31 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 10px;
						background: {
							image: url(moduletable_to31_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&:last-child {
							background: none;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								color: $orange_1_color;
							}
						}
						a {
							padding: 10px 18px;
							font-size: 16px;
							color: #fff;
							&:hover {
								color: $orange_1_color;
							}
						}
						ul.sub-menu {
							min-width: 150px;
							padding: 10px;
							background-color: $blue_color;
							border: 0;
							z-index: 100;
							li {
								padding: 5px 0;
								background-image: none;
								border-bottom: 1px solid #fff;
								z-index: 100;
								a {
									width: 100%;
									padding: 10px 15px 10px 10px;
									border: none;
									text-transform: initial;
									z-index: 100;
									&:hover {
										color: red;
										&:after {
											border: {
												color: transparent transparent transparent #fff;
											}
										}
									}
									&:after {
										margin-right: 0;
										right: 0;
										border: {
											top-color: transparent;
											color: transparent transparent transparent red;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.moduletable_to32 {
		.woocommerce-product-search {
			label {
				display: none;
			}
			input {
				&.search-field {
					margin: 0;
					padding: 5px 5px 5px 40px;
					background: {
						color: transparent;
						image: url(moduletable_to32_bg.png);
						position: 10px 7px;
						repeat: no-repeat;
					}
					border-radius: 0;
					color: #fff;
				}
			}
			button {
				display: none;
			}
		}
	}
}

/* Banner */

.banner {
	.moduletable_ba1 {}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		color: $title;
		strong {
			color: $title !important;
		}
	}
	strong {
		color: $blue_color;
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $blue_color;
			border-radius: 0;
		}
	}
	.special_title {
		margin-top: -100px !important;
		padding: 20px;
		background-color: #fff;
		position: relative;
	}
	.um .um-field-checkbox.active:not(.um-field-radio-state-disabled) i {
		color: $blue_color;
	}
	.um input[type=submit].um-button {
		background-color: $blue_color;
		border-radius: 0;
	}
	.woocommerce {
		ul.products {
			li {
				margin-bottom: 10px;
				.loop_link {
					a {
						top: 0;
						right: 0;
						padding: 0 5px;
						background-color: $blue_color;
						color: #fff;
						display: inline-block;
						position: absolute;
					}
				}
				.star-rating {
					margin: 5px auto;
				}
				a.woocommerce-LoopProduct-link {
					/*border: 1px solid #ccc;*/
					text-align: center;
					display: block;
					img {
						/*margin: 0;*/
						margin-bottom: 10px;
						/*padding: 10px;*/
						/*border: 1px solid #ccc;*/
						/*border-bottom: 1px solid #ccc;*/
					}
					h2.woocommerce-loop-product__title {
						width: 100%;
						min-height: 78px;
						padding: 10px !important;
						/*background-color: $blue_color;*/
						font-weight: bold;
						color: $blue_color;
						text: {
							align: center;
							transform: inherit;
						}
					}
					span.price {
						margin-bottom: 0;
						padding: 0 0 10px 0;
						/*background-color: $blue_color;*/
						font-weight: bold;
						color: $blue_color;
					}
				}
				a.product_type_simple {
					margin: 0;
					padding: {
						top: 10px;
						left: 38px;
						bottom: 10px;
					}
					background: {
						color: $blue_color;
						image: url(icon_cart.png);
						position: 5px;
						repeat: no-repeat;
					}
					border-radius: 0;
					font-size: 12px;
					color: #fff;
					display: block;
				}
				.loop_available {
					padding-top: 10px;
					font-size: 10px;
					text-align: center;
					i {
						color: #60d837;
					}
				}
				.loop_not_available {
					padding-top: 10px;
					font-size: 10px;
					text-align: center;
					i {
						color: red;
					}
				}
			}
		}
		.product {
			.woocommerce-product-gallery {
				border: 1px solid #c6c6c6;
			}
			.single_title {
				margin-bottom: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid #c6c6c6;
				h1 {
					margin: 0;
					font: {
						size: 20px;
						weight: bold;
					}
					color: $primary_color;
				}
			}
			.single_price {
				margin-bottom: 10px;
				font: {
					size: 38px;
					weight: bold;
				}
				color: $blue_color;
			}
			.single_cart {
				margin-bottom: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid #c6c6c6;
				.left {
					width: 80px;
					float: left;
					position: relative;
					strong {
						color: #000;
					}
				}
				.right {
					float: left;
					position: relative;
					.stock {
						display: none;
					}
					form.cart {
						margin: 0;
						.quantity {
							input {
								margin: 0;
							}
						}
						button.button {
							padding-left: 38px;
							background: {
								color: $orange_1_color;
								image: url(icon_cart.png);
								position: 5px;
								repeat: no-repeat;
							}
							border-radius: 0;
						}
					}
				}
			}
			.single_available {
				margin-bottom: 10px;
				i {
					color: #60d837;
				}
			}
			.single_not_available {
				margin-bottom: 10px;
				i {
					color: red;
				}
			}
			.single_share {}
			h2 {
				margin: 10px 0;
				font: {
					size: 16px;
					weight: bold;
				}
				color: $primary_color;
				text-transform: uppercase;
			}
			h3.title_description {
				margin: 10px 0;
				font: {
					size: 16px;
					weight: bold;
				}
				color: $orange_1_color;
				text-transform: uppercase;
			}
			.related.products {
				ul.products {
					li.product {
						margin-bottom: 10px;
						padding: 10px 0;
						background-color: #fff;
						.loop_link {
							a {
								top: 0;
								right: 0;
								padding: 0 5px;
								background-color: $blue_color;
								color: #fff;
								display: inline-block;
								position: absolute;
							}
						}
						.star-rating {
							margin: 5px auto;
						}
						a.woocommerce-LoopProduct-link {
							border: 0;
							text-align: center;
							h2.woocommerce-loop-product__title {
								width: 100%;
								min-height: 78px;
								margin: 0;
								padding: 10px 0 !important;
								background-color: transparent;
								color: $primary_color;
							}
							span.price {
								margin: 0;
								padding-bottom: 10px;
								background-color: transparent;
								color: $blue_color;
							}
							img {
								border: 0;
							}
						}
						a.button {
							padding: {
								top: 10px;
								left: 38px;
								bottom: 10px;
							}
							background: {
								color: $blue_color;
								image: url(icon_cart.png);
								position: 5px;
								repeat: no-repeat;
							}
							border-radius: 0;
							font-size: 12px;
							color: #fff;
							display: block;
						}
						.loop_available {
							padding-top: 10px;
							font-size: 10px;
							text-align: center;
							i {
								color: #60d837;
							}
						}
						.loop_not_available {
							padding-top: 10px;
							font-size: 10px;
							text-align: center;
							i {
								color: red;
							}
						}
					}
				}
			}
		}
		a,
		button {
			&.button {
				background-color: $orange_1_color;
				border-radius: 0;
				color: #fff;
				&:hover {
					background-color: $orange_1_color;
					color: #fff;
				}
			}
		}
		.button_payment {
			padding: 10px;
			background-color: $orange_1_color;
			border: 0;
			border-radius: 0;
			color: #fff;
		}
	}
	&.construccion {
		.woocommerce {
			ul.products {
				li {
					.loop_link {
						a {
							background-color: $construccion;
						}
					}
					a.woocommerce-LoopProduct-link {
						h2 {
							/*background-color: $construccion;*/
							color: $primary_color;
						}
						span.price {
							/*background-color: $construccion;*/
							color: $construccion;
						}
					}
					a.product_type_simple {
						background-color: $construccion;
					}
				}
			}
		}
	}
	&.electricos {
		.woocommerce {
			ul.products {
				li {
					.loop_link {
						a {
							background-color: $electricos;
						}
					}
					a.woocommerce-LoopProduct-link {
						h2 {
							/*background-color: $electricos;*/
							color: $primary_color;
						}
						span.price {
							/*background-color: $electricos;*/
							color: $electricos;
						}
					}
					a.product_type_simple {
						background-color: $electricos;
					}
				}
			}
		}
	}
	&.herramientas {
		.woocommerce {
			ul.products {
				li {
					.loop_link {
						a {
							background-color: $herramientas;
						}
					}
					a.woocommerce-LoopProduct-link {
						h2 {
							/*background-color: $herramientas;*/
							color: $primary_color;
						}
						span.price {
							/*background-color: $herramientas;*/
							color: $herramientas;
						}
					}
					a.product_type_simple {
						background-color: $herramientas;
					}
				}
			}
		}
	}
	&.hogar {
		.woocommerce {
			ul.products {
				li {
					.loop_link {
						a {
							background-color: $hogar;
						}
					}
					a.woocommerce-LoopProduct-link {
						h2 {
							/*background-color: $hogar;*/
							color: $primary_color;
						}
						span.price {
							/*background-color: $hogar;*/
							color: $hogar;
						}
					}
					a.product_type_simple {
						background-color: $hogar;
					}
				}
			}
		}
	}
	&.full-width {
		padding: 0;
		.max {
			max-width: 1000px;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	background-color: $background;
	.moduletable_b11 {
		h4 {
			padding: 10px;
			border-bottom: 1px solid $border;
			font: {
				size: 14px;
				weight: bold;
			}
			text-transform: uppercase;
		}
		ul.products {
			li.product {
				margin-bottom: 10px;
				padding: 10px;
				background-color: #fff;
				.loop_link {
					a {
						top: 0;
						right: 0;
						padding: 0 5px;
						background-color: $blue_color;
						color: #fff;
						display: inline-block;
						position: absolute;
					}
				}
				.star-rating {
					margin: 5px auto;
				}
				a.woocommerce-LoopProduct-link {
					text-align: center;
					h2.woocommerce-loop-product__title {
						width: 100%;
						min-height: 78px;
						margin: 0;
						padding: 10px 0;
						font-weight: bold;
						color: $primary_color;
					}
					span.price {
						margin: 0;
						padding-bottom: 10px;
						font-weight: bold;
						color: $blue_color;
					}
				}
				a.button {
					padding-left: 38px;
					background: {
						color: $blue_color;
						image: url(icon_cart.png);
						position: 5px;
						repeat: no-repeat;
					}
					border-radius: 0;
					color: #fff;
					display: block;
				}
				.loop_available {
					padding-top: 10px;
					font: {
						size: 10px;
						weight: bold;
					}
					text-align: center;
					i {
						color: #60d837;
					}
				}
				.loop_not_available {
					padding-top: 10px;
					font: {
						size: 10px;
						weight: bold;
					}
					text-align: center;
					i {
						color: red;
					}
				}
			}
		}
		ul {
			&.tabs {
				background: transparent;
				border: 0;
				display: flex;
				li {
					&.tabs-title {
						flex: 1;
						a {
							padding: 13px 10px 12px 10px;
							border-bottom: 1px solid $border;
							font: {
								size: 14px;
								weight: bold;
							}
							color: $primary_color;
							text: {
								align: center;
								transform: uppercase;
							}
						}
					}
				}
			}
		}
		.tabs-content {
			background: transparent;
			border: 0;
		}
	}
}

nav.bellows {
	background-color: transparent !important;
	box-shadow: none !important;
	ul.bellows-nav {
		li.bellows-menu-item {
			a.bellows-target {
				padding: 10px;
				color: $primary_color;
				span.bellows-subtoggle {
					width: 30px;
					background-color: transparent !important;
				}
				&:hover {
					background-color: transparent !important;
				}
			}
			ul.bellows-submenu {
				background-color: transparent !important;
			}
			&#menu-item-2966 {
				a {
					span.bellows-subtoggle {
						color: $construccion;
					}
					&:hover {
						color: $construccion;
					}
				}
			}
			&#menu-item-3006 {
				a {
					span.bellows-subtoggle {
						color: $electricos;
					}
					&:hover {
						color: $electricos;
					}
				}
			}
			&#menu-item-3017 {
				a {
					span.bellows-subtoggle {
						color: $herramientas;
					}
					&:hover {
						color: $herramientas;
					}
				}
			}
			&#menu-item-3088 {
				a {
					span.bellows-subtoggle {
						color: $hogar;
					}
					&:hover {
						color: $hogar;
					}
				}
			}
		}
	}
}

.bellows-target {
	background-color: transparent !important;
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	.moduletable_b21 {
		h3 {
			margin: 0;
			padding: 10px 0;
			border: {
				top: 1px solid $border;
				bottom: 1px solid $border;
			}
			font: {
				size: 34px;
				weight: bold;
			}
		}
	}
}

/* Block 3 */

.block_3 {
	padding: 30px 0;
	background: {
		image: url(block_3_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	.moduletable_b31 {
		#a {
			h3 {
				font-size: 24px;
				color: #fff;
			}
		}
		#b {
			label {
				display: none;
			}
			input {
				&.tnp-email {
					background-color: #fff;
					border-radius: 0;
					color: $primary_color;
				}
				&.tnp-submit {
					width: 100px;
					margin: auto;
					background-color: $orange_1_color;
					border: 0;
					border-radius: 0;
					color: #fff;
				}
			}
		}
	}
}

/* Bottom */

.bottom {
	padding: 30px 0;
	background-color: $blue_color;
	.moduletable_bo1 {
		color: #fff;
		h4 {
			padding: 10px;
			border-bottom: 1px solid #fff;
			font: {
				size: 14px;
				weight: bold;
			}
		}
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				padding: 0 10px;
				font-size: 12px;
				a {
					color: #fff;
				}
			}
		}
	}
}

/* Copyright */

.copyright {
	padding: 10px 0;
	background-color: $background;
	font-size: 12px;
	a {
		color: $primary_color;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}